<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success!</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/styles.css" >

</head>
<body>
   <h2>You uploaded file successfully</h2>
   <p align="center"><a href="./"><button class=grey style="height:75px;width:150px">Go to Home Page</button></a></p>

</body>
</html>